@charset "utf-8";
@import url("normalize.css");
@import url("fonts.css");

/* 공용 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

/* css reset */

html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
}

/* 링크 스타일 */

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 숨김 콘텐츠 */


/* 크로스 브라우징에 필요하여 다양한 경우를 고려해서 없애야 함 line-height, font 사이즈 변경등의 옵션도 줘야할 경우가 있다 */

.readable-hidden, .a11y, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 건너뛰기 링크 */

.a11y:focus {
  top: 5px;
  left: 50%;
  /*부모의 50%의 값을 가짐*/
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  /*자신의 크기 절반만큼 왼쪽으로 이동*/
  z-index: 10;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  background-color: olive;
  clear: both;
  display: block;
}

/* 레이아웃 설계 */

.container {
  background: url("images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #aaa 0%, #eee 50%, #fff 70%, #fff 100%);
  /* 여러 배경이미지를 등록하는 것은 css3만 가능 */
  /* 먼저 선언한 이미지가 위에 보여짐 */
}
.header, .visual, .main-content, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */

.header {
  background-color: #ffffff;
  position: relative;
  padding: 0 30px 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */

.logo {
  position: absolute;
  top: 48px;
  left: 65px;
}

/* 멤버 링크 */


/* flex 방식 배치
.member {
background-color: magenta;
text-transform: uppercase;
display: flex;
justify-content: flex-end;
} */


/* float 방식 배치
.member {
background-color: magenta;
text-transform: uppercase;
float: right;
}
.member li {
float: left;
}
.navigation {
clear: both;
} */


/* inline-block, textalign 방식 배치 */

.member {
  text-transform: uppercase;
  font-size: 0;
  text-align: right;
  transform: translateX(10px);
}
.member a {
  padding: 8px 10px;
}
.member a:focus {
  outline: 1px #00e;
}
.member li {
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px 0;
}
.member li:nth-child(n+2)::before {
  content: ":";
}

/* 메인 메뉴 */

.main-menu {
  background: coral linear-gradient(to bottom, #ed8b2f 0%, #e86c00 35%, #e86c00 70%, #ed8b2f 100%);
  background-color: coral;
  /*color image(url, linear-gradient)*/
  border-top: 2px solid #000;
  /* width style color */
  border-radius: 0 0 5px 5px;
  height: 47px;
  padding-left: 225px;
}
.main-menu>li {
  float: left;
  position: relative;
}
.main-menu>li:focus {
  outline: none;
}
.main-menu span {
  display: block;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
  border-left: 2px solid rgba(255, 255, 255, .5);
  padding: 0 20px;
  line-height: 45px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  /*오른쪽distance 아래distance 블러 색상 */
}
.main-menu li:hover span, .main-menu>li:focus span {
  color: #ffff00;
}
.main-menu li:hover span::after, .main-menu>li:focus span::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu {
  position: absolute;
  top: 47px;
  white-space: nowrap;
  display: none;
}
.about-html {
  left: 0;
}
.about-css {
  left: 0;
}
.web-standards {
  left: 0;
}
.web-accessability {
  right: 0;
}
.qna {
  right: 0;
}
.archive {
  right: 0;
}
.sub-menu li, .sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 4px 10px 4px 0;
}
.sub-menu a::before {
  content: "\e803";
  font-family: "fontello";
  margin-right: 5px;
  font-size: 1.2rem;
}
.sub-menu a:hover::before {
  content: "\e801";
}
.menu-act {
  display: block !important;
}

/* 비주얼 */


/* 애니메이션 선언 */

@keyframes text-ani {
  /* 시작지점 0%{}*/
  from {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
    /* css3에 새로 추가된 기능 */
    /* top: 0;
left: 0; */
  }
  /* 끝지점 100%{} */
  to {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 70px);
    /* top: 70px;
left: 400px; */
  }
}
@keyframes flower-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* visual 기준배치 */
  width: 100%;
  height: 100%;
}
.visual::before {
  background: url("images/ani_flower_01.png") no-repeat 0 -15px, url("images/ani_flower_02.png") no-repeat 670px 0;
  animation: flower-ani 2s infinite alternate;
}
.visual::after {
  background: url("images/ani_flower_03.png") no-repeat 300px 0, url("images/ani_flower_04.png") no-repeat 800px 0;
  animation: flower-ani 2s 2s infinite alternate;
}
.visual-text {
  /*display: inline-block; /* 컨텐츠 크기에 사이즈가 맞춰진다 */
  /* float: left; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  animation: text-ani 2s forwards ease-in-out;
}

/* 메인 콘텐츠 */

.main-content {
  background-color: #fff;
  padding: 30px 15px;
  min-height: 400px;
  border-radius: 15px 15px 0 0;
  /* height: 60vh;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center; */
}
.group {
  margin: 0 15px;
}
.group1 {
  width: 250px;
  float: left;
}
.group2 {
  width: 380px;
  float: left;
}
.group3 {
  width: 190px;
  float: left;
}

/* 로그인 영역 */

.login {
  background: #ed8b2f radial-gradient(circle at right top, #ed8b2f 0%, #e86c00 100%);
  border-radius: 5px;
  padding: 10px;
  /*x, y, blur, spray*/
  box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading {
  color: #ffff00;
  font-family: "Noto Sans Bold";
  font-size: 1.5rem;
  /* 첫 줄 들여쓰기 2em-두글자만큼 들여쓰기 */
  text-indent: 10px;
}
.login-form {
  background: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0;
}
.login-form fieldset {
  border-bottom: 1px solid #aaa;
  position: relative;
  padding-bottom: 5px;
}

/* 브라우저 별로 버튼 기본 디자인 값이 다르기 때문에버튼 디자인 시에는 padding, margin 값을 꼭 설정해 주는게 좋다. */

.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background: #e86c00;
  border: #e86c00 solid 1px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}
.user-email, .user-pw {
  margin-bottom: 5px;
}
.login-form label {
  display: inline-block;
  width: 4em;
}

/* .login-form input[type="email"], .login-form input[type="password"] */

.login-form input {
  width: 95px;
  height: 24px;
  border: 1px solid #aaa;
  padding-left: 5px;
}
.join {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}
.join li::before {
  content: "\e804";
  font-family: "fontello";
  color: orangered;
}
.join a {
  padding: 8px 0;
}
.validation {
  margin-top: 20px;
}
.validation-list a {
  display: block;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  height: 33px;
  line-height: 30px;
  border-radius: 17px;
  background: url("images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to bottom, #ccc, #eee);
  padding-left: 45px;
}
.term {
  background: #ccc linear-gradient(to top, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}
.term-heading {
  font-family: "Noto Sans Bold";
  font-size: 1.5rem;
  /* margin-bottom: 5px; */
}
.term-list {
  margin-top: 10px;
  overflow: hidden;
}
.term-list-heading, .term-list-brief {
  float: right;
  width: 145px;
}
.term-list-heading {
  color: #296897;
  font-weight: bold;
  margin-top: -5px;
}
.term-list-thumbnail {
  float: left;
}
.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
  word-break: break-all;
}

/* 검색 폼 */

.search {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border-radius: 15px 15px 0 0;
  border: 1px solid #aaa;
  border-bottom: #fff;
  padding: 15px 25px 10px;
}
.search-form input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 2px 2px 5px;
  height: 22px;
  width: calc(100% - 125px);
}
.search-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
.search-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
.search-form input:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
.search-form input:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}
.btn-search {
  background: #333 linear-gradient(to bottom, #333, #999);
  color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0 8px;
  height: 22px;
  font-size: 1.2rem;
  font-family: "Noto Sans Light";
}
.search-label::before {
  content: "\e800";
  font-family: "fontello";
  margin-right: 3px;
}
.search-label {
  font-size: 1.4rem;
}

/* 실습코드
validation {
margin: 20px 0;
}
.validation-list li {
background: url("images/validation_icon.png") no-repeat 15px, linear-gradient(to bottom, #ccc 0%, #eee 100%);
border: 1px solid #aaa;
border-radius: 16px;
font-size: 1.2rem;
margin: 10px 0;
}
.validation-list a {
display: inline-block;
width: 100%;
padding: 5px 5px 5px 40px;
} */


/* 실습코드
.term {
background: #ccc linear-gradient(to top, #ccc, #eee);
border: 1px solid #aaa;
border-radius: 5px;
margin-top: 20px;
padding: 15px;
}
.term-heading {
font-weight: bold;
font-size: 1.6rem;
padding-bottom: 10px;
}
.term-list-thumbnail {
float: left;
margin: 4px 10px 0 0;
}
.term-list-heading {
display: inline-block;
color: #296897;
font-weight: bold;
padding-bottom: 3px;
}
.term-list-brief {
line-height: 20px;
} */


/* 공지사항 및 자료실 */

.notice-list, .pds-list, .notice-more, .pds-more {
  display: none;
}
.board-act ul, .board-act a {
  display: block;
}
.board {
  margin-top: 20px;
  position: relative;
}
.notice-heading, .pds-heading {
  position: absolute;
  top: 0;
  color: #666;
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  cursor: pointer;
}
.notice-heading {
  left: 0px;
}
.pds-heading {
  left: 84px;
}
.board-act .notice-heading, .board-act .pds-heading {
  background: white;
  color: #e0652c;
  border: 1px solid #e0652c;
  border-bottom: #fff;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
.notice-more, .pds-more, .news-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
[class$="more"]::before {
  /* .notice-more::before, .pds-more::before, .news-more::before, .favorite-more::before { */
  content: "\e802";
  font-family: "fontello";
  color: hsla(90, 90%, 30%, 1);
  margin-right: 5px;
}
.notice-list, .pds-list {
  padding: 40px 0 0 20px;
  list-style: square;
}
.notice-list li, .pds-list li {
  margin: 5px 0;
}
.notice-list a, .pds-list a {
  display: inline-block;
  width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-list time, .pds-list time {
  float: right;
}

/* ARIA 스타일 */

.aria-board {
  margin-top: 20px;
  position: relative;
}
.unvisual {
  display: none;
}
.tab-list li {
  float: left;
}
.tab-list li {
  display: block;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  color: #666;
  border-bottom: 0;
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  position: relative;
  cursor: pointer;
}
li[aria-selected="true"] {
  background: white;
  color: #e0652c;
  border: 1px solid #e0652c;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

/* position: absolute;
  top: 0;
  color: #666;
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  cursor: pointer; */


/* 뉴스 영역 */

.news {
  margin-top: 20px;
  position: relative;
}
.news::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #aaa, #fff);
}
.news-heading {
  color: #e0652c;
  font-family: "Noto Sans Bold", sans-serif;
  font-size: 1.5rem;
}
.news-heading+a:hover, .news-heading+a:focus {
  color: inherit;
}
.news-heading+a {
  display: block;
}
.news-item {
  margin-top: 30px;
  padding-left: 130px;
  position: relative;
}
.news-item figure {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 115px;
  text-align: center;
}
.news-item img {
  margin-bottom: 15px;
  box-shadow: 0 15px 15px 2px #aaa;
}
.news-item-heading {
  font-weight: 700;
}
.news-item time {
  display: block;
  margin: 5px 0 10px;
  text-align: right;
}

/* grid 사용 */


/* .news-item {
  background: chocolate;
  margin-top: 30px;
  display: grid;
  grid-template: 20px 20px 1fr / 130px 1fr;
  grid-template-areas: "thumbnail  headline" "thumbnail  time" "thumbnail  brief";
}
.news-item>h3 {
  background: lime;
  //grid-area: 1 / 2;
  grid-area: headline;
}
.news-item>time {
  background: purple;
  // grid-area: 2 / 2;
  grid-area: time;
}
.news-item>p {
  background: pink;
  // grid-area: 3 / 2;
  grid-area: brief;
}
.news-item>figure {
  background: yellow;
  //grid-row: 1 / span 3;
  //grid-column: 1 / 1;
  //grid-area: 1 / 1 / 4 / 2;
  grid-area: thumbnail;
}*/


/* 내 실습 코드
.news {
  margin-top: 20px;
  position: relative;
}
.news-heading {
  color: #e0652c;
  font-family: "Noto Sans Bold", sans-serif;
  font-size: 1.5rem;
}
.news-heading::after {
  content: "";
  display: block;
  height: 1px;
  background: #666 linear-gradient(to right, #666 0%, #ccc 50%, #fff 70%);
  margin: 10px 0;
}
.news-item {
  position: relative;
}
.news-item:nth-child(-n+2) {
  padding-left: 130px;
}
.news-item-heading {
  font-weight: bold;
  padding-bottom: 5px;
}
figure {
  position: absolute;
  top: 10px;
  left: 0px;
}
figure img {
  box-shadow: 3px 5px 20px 5px #666;
  margin-bottom: 10px;
}
figcaption {
  text-align: center;
} */

.event-related, .favorite {
  background: #ccc linear-gradient(to top, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
.event-heading, .related-heading, .favorite-heading {
  font-size: 1.5rem;
  font-family: "Noto Sans Bold", sans-serif;
  margin-bottom: 10px;
}
.event-heading>span, .related-heading>span, .favorite-heading>span {
  color: #e86c00;
}
.event {
  position: relative;
  border-bottom: 1px solid #aaa;
  /* padding-bottom: 10px; */
}

/* .event-detail {} */

.btn-event {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-event button {
  float: left;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding-top: 18px;
  /* margin-right: 5px; */
  overflow: hidden;
  background-color: #fff;
  background-image: url("images/back_forward.png");
  background-repeat: no-repeat;
}
.btn-event-next {
  margin-left: 5px;
  /* transform: rotate(180deg); */
  background-position: 100% 0;
}
.event p {
  line-height: 1.5;
  margin-bottom: 10px;
}
.event img {
  box-shadow: 5px 5px #aaa;
  border: 1px solid #aaa;
}
.related {
  margin-top: 10px;
}
.related-list {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  padding: 0 20px;
  transition: all .5s;
}
.related-list:hover, .list-open {
  /* overflow: inherit; */
  padding-top: 10px;
  padding-bottom: 10px;
  height: 145px;
}
.related-list li {
  height: 25px;
}
.related-list a {
  display: block;
  line-height: 25px;
}
.related-list a:focus {
  outline-offset: -2px;
}
.favorite {
  margin-top: 20px;
  position: relative;
}
.favorite-list li {
  overflow: hidden;
  /* background: pink; */
  margin: 3px 0;
  position: relative;
  counter-increment: number;
}
.favorite-list li::before {
  content: counter(number, decimal);
  background: #999;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 5px;
  border-radius: 3px;
  margin-right: 5px;
  /* vertical-align: baseline; */
  /* inline만 가능 */
}
.favorite-more {
  position: absolute;
  top: 3px;
  right: 7px;
  padding: 8px;
}
.favorite-list em {
  position: absolute;
  /* top: calc(100% - 15px); */
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  box-sizing: border-box;
  width: 9px;
  height: 10px;
  padding-top: 10px;
  overflow: hidden;
  background-image: url("images/rank.png");
  background-repeat: no-repeat;
}
.up {
  background-position: 0 0;
}
.stop {
  background-position: 0 50%;
}
.down {
  background-position: 0 100%;
}
.slogan {
  padding: 15px 70px 15px 180px;
  position: relative;
  font-size: 1.6rem;
}
.slogan-heading {
  position: absolute;
  left: 35px;
  bottom: -25px;
  width: 110px;
  height: 83px;
  padding-top: 83px;
  padding: 30px;
  font-size: 1rem;
}
.slogan-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/coffee.png") no-repeat;
}
.slogan p {
  color: #a09784;
}
.slogan q {
  font-weight: bold;
  /* quotes: "앞" "뒤"; */
}
.slogan q::before {
  font-size: 3rem;
  position: relative;
  top: 10px;
}
.slogan q::after {
  content: "";
}

/* 푸터 */

.footer-bg {
  background: #ccc linear-gradient(to bottom, #aaa 0%, #ccc 30%, #eee 60%, #fff 70%, #fff 100%);
}
.footer {
  padding: 15px 140px 15px 180px;
  position: relative;
  font-weight: 100;
}

/* 푸터 로고 및 뱃지 */

.footer-logo {
  position: absolute;
  left: 35px;
  top: 45px;
}
.tech-logo {
  position: absolute;
  right: 30px;
  top: 15px;
}

/* 가이드 링크 */

.guide {
  background: #7b8385;
  color: #fff;
  border-radius: 20px;
  padding: 2px 15px;
  display: flex;
  justify-content: space-around;
}
.guide a {
  padding: 5px 10px;
  display: block;
  text-transform: uppercase;
}

/* 주소 및 저작권 */

address {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}