  @charset "utf-8";
  @import url("normalize.css");
  @import url("fonts.css");
  /* 공용 스타일 */
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  /* css reset */
  
  html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* 본문 스타일 */
  
  html {
    font-size: 10px;
  }
  body {
    font-family: 'ValrelaRound', sans-serif;
    font-size: 1.4rem;
    color: #222;
    background-color: #fff;
  }
  /* 링크 스타일 */
  
  a:link, a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #868686;
  }
  /* 숨김 콘텐츠 */
  /* 크로스 브라우징에 필요하여 다양한 경우를 고려해서 없애야 함 line-height, font 사이즈 변경등의 옵션도 줘야할 경우가 있다 */
  
  .readable-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
  }
  /* 공통 스타일 */
  
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  .grid-container {
    display: grid;
    margin: auto;
    width: 960px;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: 360px 502px 240px 240px;
    grid-template-areas: "card-item1       card-item1 card-item2 card-item2 card-item3 card-item3 card-item4 card-item4" "cart-list        cart-list cart-list cart-list cart-list cart-list cart-list cart-list" "mini-card-item1  mini-card-item1 mini-card-item2 mini-card-item2 mini-card-item3 mini-card-item3 mini-card-item4 mini-card-item4" "mini-card-item5  mini-card-item5 mini-card-item6 mini-card-item6 mini-card-item7 mini-card-item7 mini-card-item8 mini-card-item8";
  }
  .card-padding {
    grid-area: card-padding;
  }
  .card-item1, .card-item2, .card-item3, .card-item4 {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: repeat(9, 40px);
    grid-template-areas: "card-brand card-brand" "card-model card-model" "card-img card-img" "card-img card-img" "card-img card-img" "card-img card-img" "card-img card-img" "card-padding card-padding" "card-price card-price";
    justify-items: center;
  }
  .card-item1 {
    grid-area: card-item1;
    background: rgba(100, 0, 0, .25);
  }
  .card-item2 {
    grid-area: card-item2;
    background: rgba(100, 0, 0, .5);
  }
  .card-item3 {
    grid-area: card-item3;
    background: rgba(100, 0, 0, .75);
  }
  .card-item4 {
    grid-area: card-item4;
    background: rgba(100, 0, 0, 1);
  }
  .card-brand {
    grid-area: card-brand;
    align-self: end;
  }
  .card-model {
    grid-area: card-model;
    align-self: start;
  }
  .card-img {
    grid-area: card-img;
    align-self: center;
  }
  .card-price {
    font-family: "Oswald";
    grid-area: card-price;
    width: 100%;
    /* padding: 0 20px; */
    display: grid;
    grid-template-columns: 62px 1fr 62px;
    grid-template-areas: "item-label item-price ori-price";
    justify-items: center;
  }
  .item-label {
    grid-area: item-label;
  }
  .hit-item {
    display: inline-block;
    width: 22px;
    height: 16px;
    position: relative;
    background: #ffc12b;
    border-radius: 3px;
  }
  .hit-item::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background: #ffc12b;
    width: 12px;
    height: 12px;
    top: 2px;
    right: -4px;
    border-radius: 3px;
  }
  .hit-item::after {
    content: "HIT";
    width: 22px;
    height: 16px;
    position: absolute;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  .sale-item {
    display: inline-block;
    width: 26px;
    height: 16px;
    position: relative;
    background: #ff3f2b;
    border-radius: 3px;
  }
  .sale-item::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background: #ff3f2b;
    width: 12px;
    height: 12px;
    top: 2px;
    right: -6px;
    border-radius: 3px;
  }
  .sale-item::after {
    content: "SALE";
    width: 26px;
    height: 16px;
    position: absolute;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  .new-item {
    display: inline-block;
    width: 22px;
    height: 16px;
    position: relative;
    background: #68bf7b;
    border-radius: 3px;
  }
  .new-item::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background: #68bf7b;
    width: 12px;
    height: 12px;
    top: 2px;
    right: -4px;
    border-radius: 3px;
  }
  .new-item::after {
    content: "NEW";
    width: 22px;
    height: 16px;
    position: absolute;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  .item-price {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .ori-price {
    grid-area: ori-price;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    text-align: right;
    color: #a1a1a1;
    text-decoration: line-through;
  }
  .sale-price {
    font-family: Oswald;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ff3f2b;
  }
  .cart-list {
    grid-area: cart-list;
    margin: 11px 120px;
    display: grid;
    grid-template-rows: repeat(4, 120px);
    grid-template-areas: "cart-item1" "cart-item2" "cart-item3" "cart-item4";
    background: rgba(0, 70, 0, 1);
  }
  .cart-item {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(4, 30px);
    grid-template-areas: "cart-item-img cart-item-brand cart-item-brand cart-item-price cart-item-ctrl cart-item-ctrl" "cart-item-img cart-item-brand cart-item-brand cart-item-price cart-item-ctrl cart-item-ctrl" "cart-item-img cart-item-model cart-item-model cart-item-price cart-item-ctrl cart-item-ctrl" "cart-item-img cart-item-model cart-item-model cart-item-price cart-item-ctrl cart-item-ctrl";
    justify-items: center;
    align-items: center;
  }
  .cart-item-brand {
    grid-area: cart-item-brand;
    width: 100%;
    height: 50%;
    padding: 0 50px 0 30px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.33;
    color: #222222;
    align-self: end;
  }
  .cart-item-model {
    grid-area: cart-item-model;
    width: 100%;
    height: 50%;
    padding: 0 50px 0 30px;
    font-family: 'PTSerif';
    font-size: 1.2rem;
    line-height: 1.5;
    color: #b8b8b8;
    /* align-self: stretch; */
  }
  .cart-item-price {
    width: 100%;
    height: 100%;
    font-family: "Oswald";
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: repeat(2, 30px);
    grid-template-areas: "item-price item-price" "item-label ori-price";
    align-content: center;
    align-items: center;
    justify-items: center;
    /* "item-price item-price" "item-label ori-price" "item-label ori-price"; */
  }
  .cart-item-price .item-price {
    font-size: 1.4rem;
  }
  .cart-item-price .item-label {
    align-self: end;
  }
  .cart-item-price .ori-price {
    height: 16px;
    justify-self: start;
    align-self: end;
  }
  .cart-select {
    grid-area: cart-select;
    width: 90px;
    height: 30px;
    border-radius: 15px;
    background: #f6f6f6;
    padding-left: 20px;
    font-family: 'PTSerif';
    color: #868686;
    font-size: 1.2rem;
  }
  .cart-size-select {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .select-selected {
    color: #000;
    font-family: 'VarelaRound';
  }
  .cart-item-ctrl {
    grid-area: cart-item-ctrl;
    font-family: 'PTSerif';
    color: #868686;
    display: grid;
    grid-template-columns: 90px 11px 110px 30px;
    grid-template-rows: 30px 30px;
  }
  .cart-addcart {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .cart-wishlist {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .cart-item1 {
    grid-area: cart-item1;
  }
  .cart-item2 {
    grid-area: cart-item2;
  }
  .cart-item3 {
    grid-area: cart-item3;
  }
  .cart-item4 {
    grid-area: cart-item4;
  }
  .cart-item-img {
    grid-area: cart-item-img;
  }
  .cart-item-brand {
    grid-area: cart-item-brand;
  }
  .cart-item-model {
    grid-area: cart-item-model;
  }
  .cart-item-price {
    grid-area: cart-item-price;
  }
  .mini-card-item1 {
    grid-area: mini-card-item1;
    background: rgba(50, 0, 0, .25);
  }
  .mini-card-item2 {
    grid-area: mini-card-item2;
    background: rgba(50, 0, 0, .5);
  }
  .mini-card-item3 {
    grid-area: mini-card-item3;
    background: rgba(50, 0, 0, .75);
  }
  .mini-card-item4 {
    grid-area: mini-card-item4;
    background: rgba(50, 0, 0, 1);
  }
  .mini-card-item5 {
    grid-area: mini-card-item5;
    background: rgba(30, 0, 0, .25);
  }
  .mini-card-item6 {
    grid-area: mini-card-item6;
    background: rgba(30, 0, 0, .5);
  }
  .mini-card-item7 {
    grid-area: mini-card-item7;
    background: rgba(30, 0, 0, .75);
  }
  .mini-card-item8 {
    grid-area: mini-card-item8;
    background: rgba(30, 0, 0, 1);
  }