@charset "utf-8";
@import url("normalize.css");
@import url("fonts.css");

/* 공용 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

/* css reset */

html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'ValrelaRound', sans-serif;
  font-size: 1.4rem;
  color: #222;
  background-color: #fff;
  height: 100%;
}

/* 숨김 콘텐츠 */


/* 크로스 브라우징에 필요하여 다양한 경우를 고려해서 없애야 함 line-height, font 사이즈 변경등의 옵션도 줘야할 경우가 있다 */

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 공통 스타일 */

.clearfix::after, .row::after {
  content: "";
  clear: both;
  display: block;
}
.container {
  clear: both;
  width: 960px;
  padding: 0px;
  margin: 0 auto;
}

/*  COLUMN SETUP  */

.col {
  display: block;
  float: left;
  /* margin: 1% 0 1% 0%; */
}
.col:first-child {
  margin-left: 0;
}
.hit-item {
  display: inline-block;
  width: 19px;
  height: 15px;
  background: #ffc12b;
  border-radius: 3px;
}
.hit-item::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: #ffc12b;
  width: 11px;
  height: 11px;
  top: 2px;
  right: -5px;
  border-radius: 2px;
}
.hit-item::after {
  content: "HIT";
  left: 3px;
  position: absolute;
  font-size: 0.6rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.sale-item {
  display: inline-block;
  width: 24px;
  height: 15px;
  background: #ff3f2b;
  border-radius: 3px;
}
.sale-item::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: #ff3f2b;
  width: 11px;
  height: 11px;
  top: 2px;
  right: -5px;
  border-radius: 2px;
}
.sale-item::after {
  content: "SALE";
  left: 3px;
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.new-item {
  display: inline-block;
  width: 21px;
  height: 15px;
  background: #68bf7b;
  border-radius: 3px;
}
.new-item::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: #68bf7b;
  width: 11px;
  height: 11px;
  top: 2px;
  right: -5px;
  border-radius: 2px;
}
.new-item::after {
  content: "NEW";
  left: 3px;
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.card-item-deselect {
  display: none;
}
.card-item-selected-group {
  display: none;
}
.card-item:hover .card-item-selected-group, .card-item:focus .card-item-selected-group {
  display: block;
  background: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item-selected-wrapper {
  position: absolute;
  margin-top: calc((100% - 65px)/2);
}
.normal-card-area .item-selected-wrapper {
  margin-top: 160px;
}
.size-select {
  -webkit-appearance: none;
  width: 90px;
  height: 30px;
  border-radius: 15px;
  border: 0px;
  background-color: #f6f6f6;
  background-image: url('../images/icon_select_arrow.png');
  background-position: top 12px right 15px;
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-right: 6px;
  font-family: 'PTSerif';
  color: #868686;
  font-size: 1.2rem;
}
.card-item {
  padding: 30px;
  text-align: center;
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
}
.card-item:nth-child(n+2) {
  border-left: 0px;
}
.mini-card-area .row:nth-child(n+2) .card-item {
  border-top: 0px;
}
.card-brand {
  width: 100%;
  height: 3rem;
  line-height: 1.33;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0 10px;
}
.card-item:hover .card-brand, .card-item:hover .item-price, .card-item:focus .card-brand, .card-item:focus .item-price {
  position: relative;
  color: #fff;
  z-index: 1;
}
.card-img {
  margin: 50px auto;
}
.card-price {
  position: relative;
  font-family: "Oswald";
  width: 100%;
}
.item-price {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}
.ori-price {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
  color: #a1a1a1;
  text-decoration: line-through;
  top: calc((100% - 1rem)/2);
}
.sale-price {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ff3f2b !important;
}
.item-label {
  position: absolute;
  left: 0;
  top: calc((100% - 1rem)/2);
  font-size: 1px;
  color: transparent;
}
.list-card-area {
  width: 100%;
  height: 500px;
  background: #dfdfdf;
  padding: 10px 120px;
}
.cart-list {
  background: #fff;
  height: 120px;
}
.cart-item {
  width: 100%;
  height: 120px;
  vertical-align: middle;
  border-bottom: 1px solid #dfdfdf;
}
.cart-thumb-area {
  padding: 15px;
}
.cart-describe-area {
  padding: 30px;
}
.cart-item-brand {
  font-size: 12px;
  line-height: 1.33;
  height: 30px;
  overflow: hidden;
  color: #222222;
}
.cart-item-model {
  font-family: 'PTSerif';
  font-size: 1.2rem;
  line-height: 1.5;
  color: #b8b8b8;
  padding-top: 15px;
}
.cart-price-info-area {
  position: relative;
  /* padding: 30px 20px; */
  height: 100%;
  font-family: "Oswald";
}
.item-price-group {
  width: 50%;
  height: 50%;
  padding: 30px 0 0 20px;
}
.item-price-tag-group {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
}
.item-price-tag-group p {
  position: absolute;
  left: 20px;
}
.item-price-oriprice-group {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: 50%;
  color: #868686;
}
.item-price-oriprice-group p {
  position: absolute;
  left: 5px;
}
.cart-item-btns-area {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 30px 15px 0;
}
.select-selected {
  color: #222;
  font-size: 1.2rem;
  font-family: 'VarelaRound';
}
.list-card-area .btn-add-wish, .list-card-area .btn-added-wish {
  margin-top: 30px;
}
.btn-add-wish, .btn-added-wish {
  font-family: 'PTSerif';
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  color: #b8b8b8;
  background-color: transparent;
  margin-left: 25px;
  margin-top: 15px;
  position: relative;
}
.btn-add-wish::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 2px;
  background: url('../images/icon_wish_add.png');
  width: 17px;
  height: 14px;
}
.btn-added-wish::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 2px;
  background: url('../images/icon_wish_added.png');
  width: 17px;
  height: 14px;
}
.btn-add-cart {
  width: 110px;
  height: 30px;
  background: #1f4ba5;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
.mini-card-area .card-img {
  margin: 10px auto;
}
@media only screen and (min-width: 461px) {
  .container {
    clear: both;
    width: 960px;
    padding: 0px;
    margin: 0 auto;
  }
  .col-1 {
    width: 120px;
    /* background: rgba(0, 0, 50, 1); */
  }
  .col-2 {
    width: 240px;
    /* background: rgba(0, 0, 50, 0.875); */
  }
  .col-3 {
    width: 360px;
    /* background: rgba(0, 0, 50, 0.75); */
  }
  .col-4 {
    width: 480px;
    /* background: rgba(0, 0, 50, 0.625); */
  }
  .col-5 {
    width: 600px;
    /* background: rgba(0, 0, 50, 0.5); */
  }
  .col-6 {
    width: 720px;
    /* background: rgba(0, 0, 50, 0.375); */
  }
  .col-7 {
    width: 840px;
    /* background: rgba(0, 0, 50, 0.25); */
  }
  .col-8 {
    width: 960px;
    /* background: rgba(0, 0, 50, 0.125); */
  }
}
@media only screen and (max-width: 460px) {
  .container {
    width: 320px;
    height: 100px;
    margin: 0 auto;
  }
  .m-col-1 {
    width: 25%;
  }
  .m-col-2 {
    width: 50%;
  }
  .m-col-3 {
    width: 75%;
  }
  .m-col-4 {
    width: 100%;
  }
}
.box1 {
  background: rgba(0, 0, 50, 1);
}
.box2 {
  background: rgba(0, 0, 50, .75);
}
.box3 {
  background: rgba(0, 0, 50, .5);
}
.box4 {
  background: rgba(0, 0, 50, .25);
}