body {
  margin: 40px;
}

/* SECTIONS */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 0%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF EIGHT  */

.span_8_of_8 {
  width: 100%;
  background: rgba(0, 0, 50, 0.125);
}
.span_7_of_8 {
  width: 87.5%;
  background: rgba(0, 0, 50, 0.25);
}
.span_6_of_8 {
  width: 75%;
  background: rgba(0, 0, 50, 0.375);
}
.span_5_of_8 {
  width: 62.5%;
  background: rgba(0, 0, 50, 0.5);
}
.span_4_of_8 {
  width: 50%;
  background: rgba(0, 0, 50, 0.625);
}
.span_3_of_8 {
  width: 37.5%;
  background: rgba(0, 0, 50, 0.75);
}
.span_2_of_8 {
  width: 25%;
  background: rgba(0, 0, 50, 0.875);
}
.span_1_of_8 {
  width: 12.5%;
  background: rgba(50, 0, 50, 1);
}

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 {
    width: 100%;
  }
}