@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500|Montserrat:400,700);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  background-color: steelblue;
  text-align: center;
  padding: 20px;
}
.top h1 {
  font-size: 1rem;
  display: block;
  color: #fff;
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: 200;
}
.top span {
  display: block;
  font-size: 3.2rem;
  line-height: 4rem;
}
.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.45s ease;
}
.bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  justify-content: center;
}
.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score {
  text-align: center;
  padding: 20px;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-center-inner {
  font-family: 'Source Code Pro', sans-serif;
}
.correct-modal, .wrong-modal {
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
  transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
}
.modal.show {
  display: flex;
}
.box.show {
  transform: scale(46);
  transition: transform 0.65s ease;
}
@media all and (max-width: 640px) {
  .box.show {
    transform: scale(40);
  }
}
@media all and (min-width: 1500px) {
  .box.show {
    transform: scale(70);
  }
}
.modal-inner {
  text-align: center;
}
.modal-title {
  display: block;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 900;
}
.modal-button {
  margin: 10px 10px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.3rem;
  background-color: transparent;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}
.rgb-text {
  font-size: 1.8rem;
  padding-bottom: 40px;
}