body, p, div, h1, input, button {
  padding: 0;
  margin: 0;
  width: 600px;
  font-size: 10px;
  box-sizing: border-box;
}
.clearfix {}
.complete {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.head-wrap {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.head-wrap h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}
.head-wrap input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 1.6rem;
}
.head-wrap button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
}
.list-wrap {
  width: 100%;
  background: blue;
  /*#f9f9f9;*/
}
.list-wrap div {
  color: #181818;
  font-size: 1.2rem;
  position: absolute;
  height: 40px;
  background: #777;
}
.list-wrap button {
  font-size: 1.2rem;
  background-color: transparent;
  color: #777;
  border: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  cursor: pointer;
}