/* 공용 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

/* css reset */

html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Verdana';
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
}

/* 링크 스타일 */

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 숨김 콘텐츠 */


/* 크로스 브라우징에 필요하여 다양한 경우를 고려해서 없애야 함 line-height, font 사이즈 변경등의 옵션도 줘야할 경우가 있다 */

.readable-hidden, .a11y, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 건너뛰기 링크 */

.a11y:focus {
  top: 5px;
  left: 50%;
  /*부모의 50%의 값을 가짐*/
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  /*자신의 크기 절반만큼 왼쪽으로 이동*/
  z-index: 10;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  background-color: olive;
  clear: both;
  display: block;
}
.head-wrap {
  background-color: #f44336;
  padding: 30px 50px;
  color: white;
  text-align: center;
}
.head-wrap h1 {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.head-wrap input {
  border: none;
  float: left;
  width: 75%;
  height: 50px;
  padding: 10px;
  font-size: 1.6rem;
}
.head-wrap button {
  padding: 10px;
  width: 25%;
  background-color: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  height: 50px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  box-sizing: border-box;
}
.list-wrap {
  width: 100%;
}
.list-wrap div:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-wrap div {
  position: relative;
  font-size: 1.8rem;
  padding: 12px 50px 12px 40px;
  height: 50px;
  width: 100%;
  background-color: #eee;
  cursor: pointer;
}
.list-wrap div:hover {
  background-color: #ddd;
}
.list-wrap div.complete {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.list-wrap div.complete::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 15px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  overflow: hidden;
}
div.complete .btn-remove {
  color: #fff;
}
.btn-remove {
  background-color: transparent;
  color: #444;
  border: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.btn-remove:hover {
  color: #fff;
  background-color: #f44336;
}